[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
requests = "*"
pandas = "*"
lxml = "*"
wtforms = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.8"
