
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>love</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style=" background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbig5.wallcoo.com%2Fnature%2Fapple_os_x_mountain_lion_wallpapers%2Fwallpapers%2F1920x1080%2Fgalaxy.jpg&refer=http%3A%2F%2Fbig5.wallcoo.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1621219859&t=44d5a160d1caa64b935a39996a8f6920) no-repeat center center fixed; background-size: 100%;">
 
 
    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
 
                <h4 class="modal-title text-center" id="myModalLabel">{{ messages }}</h4>
            </div>
            <div class="modal-body" id = "model-body">
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control"placeholder="用户名" name="username" autocomplete="off">
                </div>
                <div class="form-group">
 
                    <input type="password" class="form-control" placeholder="密码" name="password" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="登录"></input>
                </div>
                </form>
                <div class="form-group">
                    <form action="register" method="get">
                    <button type="submit" class="btn btn-default form-control" formtarget="_blank" >注册</button>
                        </form>
                </div>
 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
 
</body>
</html>